.content {
    width: 100%;
    min-width: 200px;
    max-width: 300px;
    height: 200px;
    background-color: #DDD;
    overflow-y: scroll;
}
.top {
    display: flex;
    margin-bottom: 2px;
}
.image-upload > input {
    display: none;
}
.image-upload > label {
    cursor: pointer;
    padding: 0px 5px;
}
#name {
    width: 80%;
    padding-bottom: 1px;
}
#input {
    width: 100%;
}
#loading {
    margin-left: 1em;
}
.msg span {
    font-family: '微軟正黑體';
    font-size: 1.2em;    
    text-decoration: underline;
}
.msg span::after {
    content: ':';
}
.msg p {
    font-family: '微軟正黑體';
    margin-left: 2em;
}
.msg img {
    max-width: 60%;
    margin-left: 2em;
    display: block;
}
.send {
    display: flex;
}
.hide {
    display: none;
}
